{% set some_var1 = "Design tratamientos.es " %}
{% set holygrailcssv = "1.8.65" %}
{% set primary = "#ff0000" %}
{% set items = tratamientos %}

{% set direcciones = [
     {  calle: 'Carrer Francesc Macià, 11', 
        codigopostal: '08830 , Sant Boi de Llobregat' ,
        ciudad: 'Barcelona',
        email: 'info@centremedicbaste.com',
        link: 'https://holysite.com',
        telf: 'M: 695 69 75 04'
},

     {  calle: 'Carrer Riera Basté, 18, 20 bajos', 
        codigopostal: '08830 , Sant Boi de Llobregat' ,
        ciudad: 'Barcelona',
        email: 'info@centredentalbaste.com',
        link: 'https://centremedicbaste.com',
        telf: 'M: 673 25 20 60'
}
]
%}





{% set legal = [
     {  calle: 'Carrer Francesc Macià, 11', 
        codigopostal: '08830 , Sant Boi de Llobregat' ,
        ciudad: 'Barcelona',
        email: 'info@centremedicbaste.com',
        link: 'https://centremedicbaste.com',
        telf: 'M: 695 69 75 04'
}
]
%}
