---
layout: base.njk
title: tratamientos
eleventyComputed:
  metaTitle: "Tratamientos de medicina estética y dental - Centre estètic Basté"
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial, tratamientos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "tratamientos, ácido hialurónico, airflow, allonfour, botox, body sculpt, sedación consciente"
  metaRobots: "index, follow"
---

<article class="main-article  ">

<div class="bg-dark has-light">{% include 'hero.njk' %} </div>



<div class="front-section bg-white">
      <div class="container-2">
        <div class="innermarkdown pt-32 ">
          {{ content | toc | safe }}
          {{ content  | safe }}</div>
      </div>
</div>


<div class="container-fluid l-top bg-white">
  <div class="col-xs-12">
{% if next or previous%}
<div class="pagination">
  {% if previous %}
  <a href="{{ previous.url }} " class="pagination-item pagination-item-prev">
 Previous post
   </a>
  {% endif %}
  {% if next %}
  <a href="{{ next.url }}" class="pagination-item pagination-item-next">
Next post
</a>
  {% endif %}
</div>
{% endif %}
  </div>
</div>


{% include "banner.njk" %}


</article>
