---
layout: base.njk
title: LA CLÍNICA
permalink: /la-clinica/
image: /assets/static/about-0.webp
eleventyComputed:
  metaTitle: " La clínica | Clínica de Medicina Estética y Odontología Avanzada en Sant Boi "
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial, tratamientos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "tratamientos, ácido hialurónico, airflow, allonfour, botox, Body Sculpt, sedación consciente"
  metaRobots: "index, follow"
---
    <div class="video-bg">
        <video poster="" autoplay="" muted="" loop="">
          <source src="/assets/static/satin.mp4" type="video/mp4" />
        </video>
      </div>
<div class="container-fullpage bleed-0 bg-dark has-light">


{% include 'hero.njk' %}


</div>
<section class="front-section bg-light">
  <div class="container text-center height-xl align-center">
    <div class="row">
      <div class="col-xs-12">


        <div class="fluid-4-l  c-primary">
{{ content | safe }}
          Un conjunto único de tecnologías <br> para 
          la preservación y restauración <br>
          de su belleza natural.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="front-section bg-light">
  <div class="info-bar  c-primary">
    <div class="info-bar-box">
      <div class="fluid-7-l"> Metodologías modernas </div>
    </div>
    <div class="info-bar-box">
      <div class="fluid-7-l"> Equipo innovador</div>
    </div>
    <div class="info-bar-box">
      <div class="fluid-7-l"> Servicio personalizado</div>
    </div>
  </div>
</section>
<section class="front-section bg-dark has-light">
  <div class="container pb-64 p-body front-section ptr-120">
    <div class="row">
      <div class="col-xs-12 col-md-5 mdmax:mb-42 ">
        <div class="fluid-7-l">
          Nuestros profesionales calificados y tecnologías avanzadas ayudarán a
          complementar la estética natural de su rostro y cuerpo. Ofrecemos una
          amplia gama de servicios diseñados para garantizar que disfrute de su
          belleza, juventud y salud y para que su vida sea más gratificante.
        </div>
      </div>
      <div class="col-xs-12 col-md-1"></div>
      <div class="col-xs-12 col-md-6">
        <img width="100%"  height="100%" src="/assets/static/clinica/clinica1.webp" alt="">
      </div>
    </div>
  </div>
  <div class="container-fullpage bleed-0 mb-64">
    <div class="row text-center">
      <div class="col-xs-12">
        <div class="fluid-4-l">
          LAS MEJORES TECNOLOGÍAS <br> DISPONIBLES HOY
        </div>
      </div>
    </div>
  </div>
  <div class="container-6 mbr-128">
    <div class="row">
      <div class="col-xs-12">
        <p class="p2 mb-16">
          Contamos con tecnología punta a tu disposición, lo cual era impensable hace algunos años, pero hoy en día es
          una realidad.
          En nuestro centro médico, nuestros profesionales cuentan con equipos de alta precisión de última generación,
          permitiéndoles obtener resultados sorprendentes de forma rápida y segura.
        </p>
        <p class="p2 mb-16">
          ¿Te imaginas lograr esa transformación estética que has pospuesto por tanto tiempo en tan solo una hora?
        </p>
            <p class="h3">
          "Con nuestros tratamientos y tecnología, ahora es posible hacerlo."
        </p>
      </div>
    </div>
  </div>
  <div class="container-fullpage bleed-0 mb-64">
    <div class="row">
      <div class="col-xs-12">
        <img width="100%" height="100%" src="/assets/static/clinica/tecno.webp" alt="">
      </div>
    </div>
  </div>
  <div class="container-fullpage bleed-0">
    <div class="row">
      <div class="col-xs-12">
        <img width="100%" height="100%" src="/assets/static/clinica/clinica2.webp" alt="">
      </div>
    </div>
  </div>
</section>