---
layout: base.njk
title: Blog
subtitle: Blog
permalink: /blog/
image: /assets/static/blog-0.webp
eleventyComputed:
  metaTitle: "Nuestro blog - Centre estètic Basté"
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial, tratamientos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "tratamientos, ácido hialurónico, airflow, allonfour, botox, Body Sculpt, sedación consciente"
  metaRobots: "index, follow"
---
<div class="bg-dark has-light">{% include 'hero.njk' %}</div>

<div class="section front-section bg-light ">

  <div class="container ">

    

    <ul role="list" class="list-clear blog-section">
      {% for post in collections.post | reverse %}
        {% include 'blog-loop.njk' %}
      {% endfor %}
    </ul>
  </div>
</div>
