---
layout: base.njk
permalink: /
title: 	Centro Médico Estético en Sant Boi | Clínica médica estética Basté
eleventyComputed:
  title: Centre mèdic i estètic Basté | Centro de medicina estética y odontología avanzada en Sant Boi 
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial, tratamientos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "tratamientos, ácido hialurónico, airflow, allonfour, botox, Body Sculpt, sedación consciente"
  metaRobots: "index, follow"
---


  <div class="container-fullpage ">
    <div class="header-img has-light  bg-dark ">
      <div class="video-bg">
        <video poster="" autoplay="" muted="" loop="">
          <source src="/assets/static/satin.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container ">
        <div class="row">
          <div class="col-xs-12">
            <div class="height-full-2 is-flex flex-column content-center text-center">
              <h1 class="text-24-r mb-16 mt-40" data-aos="fade-up"> Basté,  Soluciones de alto nivel para la belleza en el centre mèdic i estètic Basté en Sant Boi
   
                </h1>
              <br>
              <div class="fluid-4-l mb-16" data-aos="fade-up" data-aos-delay="200">Medicina estética</div>
              <div class="fluid-4-l mb-16" data-aos="fade-up" data-aos-delay="600">Tratamientos dentales avanzados</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="bg-dark has-light height-full-2 front-section ptr-120 pbr-120">
      <div class="container mb-64">
        <div class="row">
          <div class="col-xs-12 col-md-5 mdmax:mb-42">
            <a href="/la-clinica/">
              <img data-aos="fade-up" width="100%" height="100%" src="/assets/static/home/16.webp"
                alt="Clínica Estética y Dental">
            </a>
          </div>
          <div class="col-xs-12 col-md-1"></div>
          <div class="col-xs-12 col-md-4">
            <div data-aos="fade-up" data-aos-delay="200" class="is-flex flex-column">
              <h2 class="fluid-4-l pl-64 pb-24">“Nuestro conocimiento es el secreto de la excelencia”</h2>
                <div><a data-aos="fade-up" data-aos-once="true"  data-aos-delay="600" class="link-line"  href="/la-clinica/">LA CLÍNICA </a></div>

            </div>
          </div>
        </div>
      </div><
      <div class="container-2">
        <div class="row">
          <div class="col-xs-12">
            <span data-aos="fade-up" data-aos-delay="400" class="text-18-r">
En la clínica de medicina estética sin cirugía y odontologia avanzada Basté nos enorgullecemos de ofrecer los tratamientos de la más alta calidad acompañados de un servicio de excelencia.
<br><br>
Contamos con profesionales altamente cualificados y con gran experiencia para ofrecerte un servicio de primera clase y un ambiente de bienestar excepcional.
<br>
Nuestros tratamientos estrella son el <b>tratamiento antiarrugas, el ácido hialurónico y el body sculpt,</b> los cuales son realizados con los mejores productos y tecnologías disponibles en el mercado.
<br>
Además, somos especialistas en la técnica dental <b>all-on-4 y all-on-6 (boca completa) con sedación consciente</b>, la cual llevamos a cabo desde hace más de <b>15 años</b>. Contamos con un equipo especialista en la realización de este innovador tratamiento para mejorar la salud y la apariencia dental de nuestros pacientes.
<br>
Si buscas la excelencia en medicina estética sin cirugía, contáctanos hoy mismo para reservar tu cita y disfrutar de un tratamiento de primer nivel en un ambiente de bienestar incomparable.
            </span>
          </div>
        </div>
      </div>
    </section>
    <section class="height-xl bg-dark align-center p-relative">
      <div class="img-cover" style="background-image: url('/assets/static/home/1.webp');"></div>
      <div class="row">
        <div class="col-xs-12">
          <div class="fluid-4-l mb-8" data-aos="fade-up">La nueva</div>
          <div class="fluid-4-l mb-8" data-aos="fade-up" data-aos-delay="200">medicina estética</div>
          <div class="fluid-4-l mb-8" data-aos="fade-up" data-aos-delay="400">hiper natural</div>
        </div>
      </div>
    </section>
    <section id="featured-articles" class="featured-articles front-section bg-dark has-light pt-64 ">

      <div class="container-3 mb-64">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="fluid-4-l text-center ">Nuestros <br>  tratamientos estrella  </h3>
    
          </div>
        </div>
      </div>

      <div class="container-3">
        <div class="row">
          <div class="col-xs-12">
            <ul role="list" class="list-clear flow">
              {% for tratamientos in collections.tratamientos %}
                {% if not loop.index is odd %}  
                        {% include 'tratamientos-loop2.njk' %}

                {% else %} 
                          {% include 'tratamientos-loop.njk' %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>


{# {% include 'swiper.njk' %} #}

{% include "banner.njk" %}


  </div>
